*, *::before, *::after
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: #333;
}

h1, h2, h3, h4, h5, h6
{
    font-size: 2rem;
    font-weight: 600;
}

.hero-title
{
    font-size: 3.5rem;
}

.hero-para
{
    font-size: 1.5rem;
    color: white;
    font-weight: 400;
    margin-bottom: 8px;
}

.logo
{
    color: bisque;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 800;
}

.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 16px 40px;
}

.nav-links
{
    display: flex;
    list-style: none;
    gap: 40px;
    text-decoration: none;
    color: aliceblue;
    transition: 0.3s;
}

.nav-links a
{
    text-decoration: none;
    color: aliceblue;
    transition: 0.3s;
}

.nav-links a:hover
{
    color: #74c1ee;
    font-weight: 700;
    transition: 0.3s;
}

.login-btn
{
    padding: 8px 16px;
    border: 0px;
    border-radius: 12px;
    font-size: 18px;
    background-color: #00ad5d;
    color: azure;
    cursor: pointer;
}

.login-btn:hover
{
    background-color: #74c1ee;
    transition: 0.3s;
}

.hero-section
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: calc(100vh - 70px);
    background-image: url("https://images.unsplash.com/photo-1522202176988-66273c2fd55f");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.overlay
{
    position: absolute;
    inset: 0;
    z-index: 0;
    background: rgba(0, 0, 0, 0.65);
}

.hero-content
{
    display: flex;
    flex-direction: column;
    color: #00ad5d;
    position: relative;
    z-index: 1;
    gap: 8px;
    max-width: 70ch;
    text-align: center;
}

.hero-action
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
    font-weight: 500;
    gap: 20px;
}

.btn
{
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 8px;
    gap: 8px;
    border: 2px solid transparent;
    text-decoration: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn:hover
{
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.primary
{
    background: #00ad5d;
    color: white;
}

.primary:hover
{
    background: #008f4c;
}

.watch
{
    background: transparent;
    color: #00ad5d;
    border: 2px solid #00ad5d;
}

.watch:hover
{
    background: white;
    color: #00ad5d;
    border: 2px solid #00ad5d;
}

.icon
{
    width: 1em;
    height: 1em;
    display: inline-block;
    transition: transform 0.2s ease;
}

.icon.arrow
{
    transform: rotate(-90deg) scale(1.2);
}

.arrow-wrapper
{
    display: inline-flex;
    transition: transform 0.3s ease;
}

.btn:hover .arrow-wrapper
{
    transform: scale(1.3);
}

.btn:hover .icon.play
{
    color: #00ad5d;
}

